
/*------LOGO-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-----CONTENT-----*/
h1 {
    font-family: 'Graduate', cursive;
    text-align: center;
}

h2 {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}


#resource {
    text-align: center;
    
}


/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}


/*-----FOOTER-----*/
.footer {
    font-size: 10px;
    background-color: grey;
    padding: 14px 16px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    
}

